@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* grid config: 3 main element + app */

.container {
    display: grid;
    height: 100vh;
    grid-template-rows: 0.15fr 1.5fr 0.15fr;
    grid-template-areas: 
        "nav"
        "main"
        "footer";
}

#nav {
    grid-area:nav;
}

#main {
    grid-area:main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

footer {
    background: #ffff18;
    grid-area:footer;
}


/* nav config */

li, a {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    background: #2704c4;
}

.logo {
    cursor: pointer;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #7b34ff;
}

.cta {
    transition: all 0.3s ease 0s;
}

.cta:hover {
    color: #7b34ff;
}

/* animation JOUER + Nav */

@keyframes colorNav {
    0%  {background-color: #073980;}
    50% {background-color: #6635b6;}
    100%  {background-color: #073980;}
}

.navbarcolor {
    animation-name: colorNav;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes shimmy {
    0% {
      transform: translate(0, 0) rotateZ(20deg);    
    }
  
    100% {
      transform: translate(-45px);
    }
  }

.movejouerdroite {
    animation: shimmy 1s;
    animation-direction: reverse;
    transform: rotateZ(20deg);
}

@keyframes shimmyBis {
    0% {
      transform: translate(0, 0) rotateZ(-20deg);    
    }
  
    100% {
      transform: translate(45px);
    }
  }

.movejouergauche {
    animation: shimmyBis 1s;
    animation-direction: reverse;
    transform: rotateZ(-20deg);
}

#faceSup {
    cursor: pointer;
}

#faceInf {
    display: none;
}

@keyframes moveMiddle {
    0% {
        left: 0%;
    }
    100% {
        left: 46.5%;
    }
}

.logoMovemiddle {
    position: relative;
    animation-name: moveMiddle;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes jouerFlote {
    0% {
      transform: translateY(12px);
    }
    100% {
      transform: translateY(-17px);
    }
  }

#jouerEntier {
    animation: jouerFlote 3s infinite;
    animation-direction: alternate;
}

/* Create Soiree Room */

@keyframes fondRadient {
    0% {
        box-shadow: 7px 7px rgb(239, 255, 14);
    }
    100% {
        box-shadow: 3px 3px rgb(245, 4, 4);
    }
  }

#SoireeCreateText {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background: rgb(44, 44, 221);
    padding: 5px;
    max-width: 290px;
    height: 190px;
    text-align: center;
    animation: fondRadient 1.7s infinite;
    animation-direction: alternate;
    margin-bottom: 20px;
}

#SoireeCreateParent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#Equi1 {
    color: black;
    font-family: "Raleway", sans-serif;
}

#Equi2 {
    color: black;
    font-family: "Raleway", sans-serif;
    margin-bottom: 15px;
}

#buttonSoireeCreate {
    background: rgb(13, 13, 223);
    animation: fondRadient 1.7s infinite;
    animation-direction: alternate;
    color: white;
    font-family: "Raleway", sans-serif;
}

/* Jeusoiree */

#JeuSoireeDivParent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 100%;
}

#Mehdi_button {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    align-content: center;
}

#buttonSoireePointAttrib1 {
    background: rgb(13, 13, 223);
    animation: fondRadient 1.7s infinite;
    animation-direction: alternate;
    color: white;
    font-family: "Raleway", sans-serif;
    max-width: 100px;
}

#buttonSoireePointAttrib2 {
    background: rgb(13, 13, 223);
    animation: fondRadient 1.7s infinite;
    animation-direction: alternate;
    color: white;
    font-family: "Raleway", sans-serif;
    max-width: 100px;
}

#Jauge {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    align-content: center;
    width: 100%;
}

#jauge_gauche {
    background-image: url(../images/jauge_gauche.svg);
    width: 300px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    align-content: left;
}

#NomEquip1 {
    height: 42px;
    padding-bottom: 10px;
    margin-left: 10px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 22px;
    background-color: red;
    -webkit-text-stroke-width: 1.3px;
    -webkit-text-stroke-color: black;
    /* Create the gradient. */
    background-image: linear-gradient(180deg, rgba(255,255,255,1) 36%, rgba(0,0,0,1) 100%);
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background-clip: text;
}

#point1Soiree {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 17px;
    padding-bottom: 5px;
    background-image: linear-gradient(180deg, rgba(255,255,255,1) 36%, rgb(255, 255, 255) 100%);
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

#jauge_droite {
    background-image: url(../images/jauge_droite.svg);
    width: 300px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#Text_Soiree {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: rgb(0, 0, 0);
    background: rgb(250, 218, 38);
    padding: 5px;
    width: 250px;
    max-width: 250px;
    height: 40px;
    text-align: center;
    margin-bottom: 20px;
}

#Voir_repSoiree {
    background: rgb(252, 12, 12);
    animation: fondRadient 1.7s infinite;
    animation-direction: alternate;
    color: white;
    font-family: "Raleway", sans-serif;
    max-width: 120px;
    height: 30px;
    font-weight: 500;
    font-size: 10px;
}




